.App {
  height: 100%;
}

.ForeFront {
  position: relative;
  z-index: 10000;
}

.Particles {
  position: fixed;
  z-index: -1000;
}

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 500ms linear;
}

.fade-exit {
  opacity: 0;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms linear;
}

.fade-exit-done {
  opacity: 0;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 300ms;
}

.ThemeToggle{
  position: absolute;
  background: none;
  top: 1vh;
  right: 1vh;
  border: 0;
  
}
@media (max-width: 640px) { 
  .ThemeToggle{
    background-size: 50px;
  }
}