.App {
  height: 100vh;
}

.ForeFront {
  position: relative;
  z-index: 10000;
}

.Particles {
  position: fixed;
  z-index: -1000;
}

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 500ms linear;
}

.fade-exit {
  opacity: 0;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms linear;
}

.fade-exit-done {
  opacity: 0;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 300ms;
}

.ThemeToggle{
  float: right;
  background: none;
  border: 0;
  margin-top: 1vh;
  margin-right: 1vh;
}